@media (max-width: 1200px) {
  li {
    flex-direction: column;
    align-items: unset;
  }
  .projects-container {
    margin-top: 20px;
  }
  .all_projects_list {
    flex-direction: unset;
  }
}
@media (max-width: 1024px) {
  .projects-container {
    flex-direction: column;
    margin-top: 10px;
  }
  .project-item {
    margin-top: 5px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  header {
    padding-left: 20px;
  }
  .project-item {
    display: none;
  }
  .header_navigation::before {
    content: "";
    border: 1px solid #ecedf2;
    top: 70px;
    left: 20%;
    width: 100%;
    border-radius: 0;
    position: fixed;
  }
  .header_navigation {
    position: fixed;
    display: none;
    background-color: white;
    margin-right: 0;
    right: 0;
    top: 0;
    width: 80%;
    z-index: 1;
    text-align: center;
    height: 100%;
    padding-top: 105px !important;
    padding-right: 50px;
  }
  .header_navigation li {
    background-color: white;
    margin-bottom: 0 !important;
    font-size: 16px;
    color: #2e2d37 !important;
    font-family: sans-serif !important;
    line-height: 2px;
    margin-top: 0 !important;
  }
  .menu_phone {
    display: block;
    font-size: 12px !important;
    padding-top: 40px !important;
  }
  .menu_location {
    display: block;
    font-size: 12px !important;
    padding-top: 10px !important;
  }
  .burger_menu {
    display: block;
    right: 35px;
  }
  .close {
    display: flex;
    position: fixed;
    top: 15px;
    right: 25px !important;
    border: 1px solid #ecedf2;
    border-radius: 50%;
    justify-content: center;
    padding: 0 0 0 11px !important;
    width: 40px;
    height: 40px;
  }
  .close img {
    width: 65%;
  }
  .favicon {
    right: 90px;
  }
}
